body {
	font-family: "Raleway", helvetica;
	margin: 0;
	font-size: 16px;
	background-color: white;
}

h1, h2, h3{
	text-align: center;
	font-size: 1.65em;
	font-weight: 300;
	letter-spacing: 6px;
	line-height: 2em;
	padding: 3em 0;
	margin: 0;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #222;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

.bold {
	font-weight: 700;
}

.triangle-down-right {
   width: 40%;
   height: 0;
   padding-top:60%;
   overflow: hidden;
   position: fixed;
	right: 0;
	bottom: 0;
	z-index: 2;
}

.triangle-down-right:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-1700px;
    border-top: 1700px solid transparent;
    border-right: 1200px solid #274257;
}

.triangle-up-right {
   width: 0;
   height: 0;
   padding-left:25%;
   padding-top: 25%;
   overflow: hidden;
   position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}
.triangle-up-right:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-900px;
    margin-top:-900px;
    border-left: 900px solid transparent;
    border-top: 900px solid #2a75a9;
}

header {
}

header h1 {
	font-weight: 900;
	font-size: 4em;
	color:#333;
	text-transform: uppercase;
	letter-spacing: 4px;
	padding: 0;
	text-align: left;
	line-height: .9em;
}

header h2 {
	font-weight: 400;
	font-size: 1.2em;
	color:#444;
	letter-spacing: 2px;
	margin: 0 40px 0 0;
	padding: 0;
	text-align: left;
	line-height: 1.5;
	text-transform: capitalize;
}

address {
	font-family: "ff-tisa-web-pro", georgia, serif;
	font-size: .85em;
	margin-top: 25px;
	color:#888;
	line-height: 1.3em;
}

address a {
	display: block;
	margin-top: .6em;
	transition: all 0.5s ease;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
}

address a:hover {
	text-decoration: none;
	color: #111;
}

.austin {
	color: #333;
	font-size: 1.2em;
	font-weight: 700;
}

.intro {
    background: transparent;
    height: 100%;
    padding-left: 5%;
    position: fixed;
    z-index: 3;
}

.introcontent {
    display: block;
    position: relative;
    top: 37%;
}

.navcontainer {
	margin: 0 auto;
   max-width: 1300px;
   display: block;
   position: relative;
   clear: both;
   overflow: hidden;
}

nav {
   width: 100%;
	background: rgba(255,255,255, 0.9);
	z-index: 1000;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc; 
}

#nav-main  {
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li a {
	margin: 2em 0;
	float: right;
	font-family: "raleway", sans-serif;
	font-weight: 400;
	font-size: .9em;
	position: relative;
	line-height: 1em;
	color: #444;
	padding-right: 2%;
	padding-left: 2%;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

nav a:hover {
	color: #111;
}

nav .active a {
	text-decoration: underline;
}

.navname {
	position: absolute;
	top:35%;
	left: 2%;
	opacity: 0;
	font-weight: 700;
	letter-spacing: 1px;
	color: #555;
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease, font-size 1ms ease 0s;
	-moz-transition: all 0.5s ease, font-size 1ms ease 0s;
	-o-transition: all 0.5s ease, font-size 1ms ease 0s;
	transition: all 0.5s ease, font-size 1ms ease 0s;
}

.is-stuck .navname {
	opacity: 1;
}

nav .navname a {
	text-decoration: none;
}

#content {
	position: absolute;
	top: 100%;
   width: 100%;
   z-index: 40;
	margin-top: -4.5em;
	overflow-y: hidden;
}

#background {
	position: relative;
	background-color: #f8f8f8;
   color: white;
   width: 100%;
   padding-bottom: 6em;
   overflow: hidden;
   display: table;
	-webkit-transform: translate3d(0,0,0);
}

.background_container, .skills_container {
	margin: 0 auto;
	color: grey;
}

.background_container {
	padding: 0 2%;
	border-collapse: separate;
	border-spacing: 15px;
	max-width: 1500px;
}

.skills_container {
	max-width: 1400px;
}

#background h2 {
	line-height: 1em;
	color: #444;
	margin: 1em 0;
	padding: 0;
	font-size: 1.5em;
}

.background_topic1, .background_topic2, .background_topic3 {
	display: table-cell;
	/*float: left; */
	border: solid 1px #888;
	width: 32%;
	margin-right: 2%;
	box-sizing: border-box;
	padding-bottom: 1em;
   -webkit-transition: all 0.3s ease 0s;
  	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.background_topic3 {
	margin-right: 0px;
}

.background_icon {
	background-color: #F8F8F8;
   height: 2.5em;
   margin: 0 auto;
   position: relative;
   top:-2.5em;
   width: 7em;
   text-align: center;
}

.background_icon svg {
	height: 5em;
	width: 5em;
}


#background p {
	margin: 0px 40px;
	padding-bottom: 20px;
	line-height: 1.5em;
	color: #333;
	font-size: 1em;
	font-weight: 300;
}

#background p:first-of-type {
	padding: 1.5em 0px 1em;
	border-top: solid 1px #cccccc;
}

.center {
	width:85%;
	margin: 0 auto;
}

#skills {
	background-color: white;
	position: relative;
	min-height: 940px;
	overflow: hidden;
	-webkit-transform: translate3d(0,0,0);
}

#skills h1 {
	padding-bottom: 3.5em;
}

.diamond_container {
   height: 0;
   padding-bottom: 26%;
   margin-left: -25px;
   margin-top: -20px;
   position: relative;
   text-align: center;
   width: 100%;
}

.diamond {
   background-color: transparent;
   margin-left: 3%;
   height: 100%;
   position: absolute;
   text-align: center;
   width: 26%;
   border: 20px solid transparent;
}

.diamond:nth-child(1) {
	margin-left: 3%;
}

.diamond:nth-child(2) {
	margin-left: 27%
}

.diamond:nth-child(3) {
	margin-left: 51%
}
.diamond:nth-child(4) {
	margin-left: 75%
}

.diamond_front {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
   border: 10px solid #eee;
   height: 75%;
   width: 75%;
   position: absolute;
   left: 0;
   top: 0;
   box-shadow: none;
	-webkit-transform: rotate(45deg) scale(1);
   -moz-transform: rotate(45deg) scale(1);
   -o-transition: rotate(45deg) scale(1);
   -ms-transform: rotate(45deg) scale(1);
   transform: rotate(45deg) scale(1);   
   -webkit-transition: all 0.25s ease 0s;
  	-moz-transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
   transition: all 0.25s ease 0s;
}

.diamond_active .diamond_back:after  {
	width: 10px;
	height: 40px;
	background-color: black;
	z-index: 500;
}

.diamond:hover .diamond_front, .diamond_active .diamond_front {
   position: absolute;
   z-index: 10;
   -moz-transform: rotate(45deg) scale(1.1);
   -webkit-transform: rotate(45deg) scale(1.1);
   -o-transition: rotate(45deg) scale(1.1);
   -ms-transform: rotate(45deg) scale(1.1);
   transform: rotate(45deg) scale(1.1);
   opacity:1;
}

.diamond:nth-child(1):hover .diamond_front, .diamond1.diamond_active .diamond_front {
	background: none repeat scroll 0 0 #D06503;
   border: 10px solid #D06503;
}

.diamond:nth-child(2):hover .diamond_front, .diamond2.diamond_active .diamond_front {
	background: none repeat scroll 0 0 #E9931A;
   border: 10px solid #E9931A;
}

.diamond:nth-child(3):hover .diamond_front, .diamond3.diamond_active .diamond_front {
	background: none repeat scroll 0 0 #2A75A9;
   border: 10px solid #2A75A9;
}

.diamond:nth-child(4):hover .diamond_front, .diamond4.diamond_active .diamond_front {
	background: none repeat scroll 0 0 #274257;
   border: 10px solid #274257;
}


.diamond_back {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
   border: 10px solid white;
   height: 75%;
   width: 75%;
   left: 0;
   top: 0;
   opacity: 0;
   position: absolute;
   transform: rotate(45deg) scale(0);
   -moz-transform: rotate(45deg) scale(0);
   -webkit-transform: rotate(45deg) scale(0);
   -o-transition: rotate(45deg) scale(0);
   -ms-transform: rotate(45deg) scale(0);
   -webkit-transition: all 0.25s ease 0s;
  	-moz-transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
   transition: all 0.25s ease 0s;
}

.diamond:hover .diamond_back, .diamond_active .diamond_back {
	border: 2px solid white;
   left: 8px;
   top: 8px;
   opacity: 1;
   position: absolute;
	-moz-transform: rotate(45deg) scale(1.05);
   -webkit-transform: rotate(45deg) scale(1.05);
   -o-tranform: rotate(45deg) scale(1.05);
   -ms-transform: rotate(45deg) scale(1.05);
   transform: rotate(45deg) scale(1.05);
   z-index: 10;
}

.diamond_content {
	width: 100%;
	margin-left: -8%;
	position: absolute;
   top: 32%;
}

.diamond p {
   color: #ccc;
   font-size: 1.1em;
   letter-spacing: 1px;
   padding: 0 19%;
   position: relative;
   text-transform: uppercase;
   -webkit-transition: all 0.4s ease 0s;
  	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
   transition: all .4s ease 0s;
	margin: 0;
	z-index: 9;
}

.diamond:hover p,.diamond_active p  {
	color: white;
	z-index: 15;
	letter-spacing: 3px;
	padding: 0 10%;
}

.diamond .arrow {
	background: url("../images/arrow.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	 cursor: pointer;
    display: block;
    height: 2em;
    left: 35%;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.45s ease 0s;
  	-moz-transition: all 0.45s ease 0s;
	-o-transition: all 0.45s ease 0s;
    transition: all 0.45s ease 0s;
    width: 2em;
    z-index: 900
}

.diamond_active {
	z-index: 900;
}

.diamond:hover .arrow, .diamond_active .arrow  {
	opacity: 1;
   top: 74%;
   transition: all 0.45s ease 0s;
}

.skill_description {
    left: -35.1%;
    opacity: 0;
    position: relative;
    top: 100%;
    width: 152%;
	-webkit-transition: opacity, top .5s ease .3s;
  	-moz-transition: opacity, top .5s ease .3s;
	-o-transition: opacity, top .5s ease .3s;
	transition: top .5s ease .3s, opacity .5s ease .3s;
}

.diamond:hover .skill_description, .diamond_active .skill_description {
	border-left: 1000px solid transparent;
   border-right: 1000px solid transparent;
   border-top: 60px solid transparent;
   margin: -60px -1000px 0;
	opacity: 1;
	top: 120%;
	-webkit-transition: opacity .5s ease .2s, top .5s ease .2s;
  	-moz-transition: opacity .5s ease .2s, top .5s ease .2s;
	-o-transition: opacity .5s ease .2s, top .5s ease .2s;
	transition: opacity .5s ease .2s, top .5s ease .2s;
}

.skill {
    background-color: white;
    margin: 0;
    opacity: 0;
    position: relative;
    top: -37px;
    width: 100%;
    z-index: -1;
    transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
	-webkit-transition: all .3s ease 0s;
  	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.diamond:hover .skill, .diamond_active .skill {
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
   -o-transform: scale(1, 1);
   -ms-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-webkit-transition: all .3s ease .4s;
  	-moz-transition: all .3s ease .4s;
	-o-transition: all .3s ease .4s;
	transition: all .3s ease .4s;
}

.skill_description .skill p {
	color: #666;
	font-size: .9em;
	line-height: 1.6em;
	margin: 0;
	letter-spacing: 0.5px;
	padding: 0 .0 1.7em;
	text-align: left;
	font-weight: 300;
	text-transform: none;
	opacity: 0;
	-webkit-transition: all .4s ease 0s;
  	-moz-transition: all .4s ease 0s;
	-o-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
}

.diamond:hover .skill_description .skill p, .diamond_active .skill_description .skill p{
	opacity: 1;
	-webkit-transition: all .5s ease 0.6s;
  	-moz-transition: all .5s ease 0.6s;
	-o-transition: all .5s ease 0.6s;
	transition: all .5s ease 0.6s;
}

.skill p:first-of-type {
	margin-top: 1.5em;
}

.skill_description:before {
    content: "";
    display: block;
    height: 18px;
    margin: 0 auto;
    position: relative;
    top: -15px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    width: 18px;
	border: 10px solid white;
	background-color: #274257;
	background-clip: padding-box;
}

.diamond1 .skill_description:before {
	background-color: #D06503;
}

.diamond2 .skill_description:before {
	background-color: #E9931A;
}

.diamond3 .skill_description:before {
	background-color: #2A75A9;
}

.diamond4 .skill_description:before {
	background-color: #274257;
}

.skill1, .skill2, .skill3, .skill4 {
    display: block;
    opacity: 1;
}

.skill1 {
    border-bottom: 2px solid #D06503;
    border-top: 2px solid #D06503;
}

.skill2 {
    border-bottom: 2px solid #E9931A;
    border-top: 2px solid #E9931A;
}

.skill3 {
    border-bottom: 2px solid #2A75A9;
    border-top: 2px solid #2A75A9;
}

.skill4 {
    border-bottom: 2px solid #274257;
    border-top: 2px solid #274257;
}

#work {
	background-color: #f8f8f8;
	overflow: hidden;
	position: relative;
	padding-bottom: 6em;
	width: 100%;
	margin-top: -1px;
	-webkit-transform: translate3d(0,0,0);
}

.box {
    border-left: 1em solid #f5f5f5;
    border-right: 1em solid #f5f5f5;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1500px;
    overflow: hidden;
    position: relative;
}

#mobileskills {
	width: 100%;
	background-color: white;
	margin: 0;
	padding: 0 10px 6em;
	display: none;
	box-sizing: border-box;
	-webkit-transform: translate3d(0,0,0);

}

#mobileskills h2{
	padding: 0 0 10px;
	margin-top: 0px;
	text-transform: uppercase;
	font-size: 1.65em;
	color: #444;
	line-height: 1.4em;
}

.mobileskill {
	margin: 0 auto;
	max-width: 1000px;
	background-color:  rgba(39, 66, 87, .1);
	padding: 0 4em 4em;
	border-top: 20px white solid;
}

.mobileskill:before {
    content: "";
    display: block;
    height: 3em;
    margin: 0 auto;
    position: relative;
    top: -2.7em;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    width: 3em;
   border: 0.6em solid white;
	background-color: #274257;
	background-clip: padding-box;
}

.mobileskill_description p{
	color: #444;
	font-size: 1.1em;
	line-height: 1.8em;
	letter-spacing: 1px;
	font-weight: 300;
}

.work_container2 {
	 background: #2A75A9;
    border-right:1px solid #f5f5f5;
    border-left:1px solid #f5f5f5;
    border-top: 2px solid #f5f5f5;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    height: 0;
    padding-bottom: 27%;
    position: relative;
    width: 50%;
    overflow: hidden;
}

.work_container2 img {
	opacity: 1;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	-webkit-transition: all .5s ease 0s;
  	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}

.work_container2:hover img {
	opacity: .1;
	-ms-transform: scale(1.1); 
   -webkit-transform: scale(1.1);
   -o-transform: scale(1.1);
   -moz-transform: scale(1.1);
   transform: scale(1.1);
}

.content_overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
   -webkit-transition: all 0.4s ease 0s;
  	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all .4s ease 0s;
	padding: 5%;
	box-sizing: border-box;
}

div.table {
	display: table;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

div.table_cell {
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}

.content_overlay h2, h3 {
	color: white;
	padding: 0;
	margin: 0;
	opacity: 0;
	text-align: center;
	-webkit-transform: translate(0px, 10px);
	-moz-transform: translate(0px, 10px);
	-o-transform: translate(0px, 10px);
	-ms-transform: translate(0px, 10px);
	transform: translate(0px, 10px);
   -webkit-transition: all 0.4s ease 0s;
  	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all .4s ease 0s;
}

.content_overlay h2{
	font-size: 2.4em;
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 8px;
	line-height: 1em;
}

.content_overlay:hover h2{
	-webkit-transform: translate(0px, -10px);
	-moz-transform: translate(0px, -10px);
	-o-transform: translate(0px, -10px);
	-ms-transform: translate(0px, -10px);
	opacity: 1;	
}

.content_overlay h3{
	font-size: .9em;
	letter-spacing: 3px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 1.5em;
	position: relative;
}

.content_overlay:hover h3{
	opacity: 1;	
	font-weight: 300;
	-webkit-transform: translate(0px, -10px);
	-moz-transform: translate(0px, -10px);
	-o-transform: translate(0px, -10px);
	-ms-transform: translate(0px, -10px);
	transform: translate(0px, -10px);
   -webkit-transition: all 0.4s ease .2s;
  	-moz-transition: all 0.4s ease .2s;
	-o-transition: all 0.4s ease .2s;
	transition: all .4s ease .2s;
}

#contact {
	background-attachment: fixed;
	background-color: #2A75A9;
   background-image: linear-gradient(to bottom right, rgba(42, 117, 169, .9), rgba(0,0,0,0.6) ),url(../images/newestchristmasniece.jpg);
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
	height:100vh;
	-webkit-transform: translate3d(0,0,0);
}

.contact_container {
	position: absolute;
	top: 45%;
	width: 100%;
	text-align: center
}
#contact h1 {
	color: white;
	text-transform: uppercase;
	padding: 0px;
	line-height: 1em;
}

#contact a {
	margin: 0 auto;
	color: #999;
	margin-top: 20px;
	letter-spacing: 3px;
	display: block;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

#contact a:hover {
	text-decoration: none;
	color: white;
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    #contact {
        background-attachment: scroll;
}
} 


@media screen and (min-width : 1600px) {
body header {
	font-size: 24px;
}
}

@media screen and (min-width : 1300px) and (max-width : 1599px){
body header {
	font-size: 21px;
}
}

@media screen and (max-width : 1200px) {

.skill_description {
    left: -33.9%;
}
}

@media screen and (max-width : 1150px) {
.work_container2 {
    padding-bottom: 27%;
    width: 50%;
}

.diamond p {
    font-size: 1em;
}
}

@media screen and (max-width : 900px) {

body {
	font-size: 18px;
}

header h1 {
	font-size: 3.5em;
}

header h2 {
	font-size: 1em;
}

address {
	font-size: .8em;
}

nav ul li a {
	font-size: .8em;
}

#background {
	padding-bottom: 2em;
}

.background_topic1, .background_topic2, .background_topic3 {
	width: 95%;
	margin: 0 auto 4em;
	float: none;
	transition: none;
	display: block;
}

#background p {
	line-height: 1.8em;
	font-size: 1.1em;
	padding-bottom: 3em;
}

.background_topic3 {
	margin-right: 0 auto;
	transition: none;
}

.diamond_content {
    top: 30%;
    margin-left: -7.5%;
}

.diamond .arrow {
	left: 33.1%;
}

.diamond p {
    font-size: .8em;
}

.diamond_active p, .diamond:hover p {
	letter-spacing: 2px;
}

#skills {
    min-height: 850px;
    overflow: hidden;
}

.skill_description {
	width: 180%;
	left: -47.35%;
}

.skill_description.lastskill {
	width: 180%;
	left: -80%;
}

.skill_description.lastskill:before {
	left: 17.8%;
}

.skill1 {
	left: 20%;
}

.skill4 {
}

.diamond:hover .skill_description, .diamond_active .skill_description {
    top: 125%;
}

.skill_description .skill p {
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.4em;
    padding: 0 0 1.5em;
}
}

@media screen and (max-width: 770px) {

h1 {
	font-size: 3em;
	padding: 2em 0;
}

.skills_container, .skill_description {
	display: none;
}

#skills h1 {
    padding-bottom: 2em;
}

#mobileskills {
	display: block;
}

.work_container2 {
	width: 100%;
	padding-bottom: 54%;
}

.work_info p {
	font-size: 1em;
	line-height: 1.8em;
	padding-right: 25%;
}

.box {
    border-left: .2em solid #f5f5f5;
    border-right: .2em solid #f5f5f5;
}
}

@media only screen and (max-device-width : 736px) and (orientation : landscape) {

body {
	font-size: 13px;
}

nav ul li a {
    margin: 1.2em 0;
}

#content {
    margin-top: -3.3em;
}

address {
	font-size: .7em;
}

.content_overlay h2{
	color: white;
	font-weight: 600;
	font-size: 2.5em;
	opacity: 1;
	transform: translate(0px 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
}

.content_overlay h3{
	color: white;
	font-size: .9em;
	transform: translate(0px 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	opacity: 1;
}

.content_overlay {
	background-color: rgba(39, 39, 39, .85);
	height: 100%;
	top: 0%;
}

.work_container2:hover img {
	opacity: 1;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
}
#contact {
	background-color: #2A75A9;
	background-image: none;
}
}

@media screen and (max-width: 600px) {
body {
		font-size: 14px;
		-webkit-text-size-adjust: 100%;
}

header h1 {
	font-size: 4em;
}

h1 {
	font-weight: 700;
	padding: 1.3em 0;
	line-height: 1.3em;
}

#content {
	margin-top: 0px;
}

nav {
	background: rgba(39,66,87, 1);
	margin: -1px 0;
	border-bottom: 1px solid rgba(39,66,87, 1);
}

#nav-main {
	margin: 0 auto;
	width:95%;
}

.navname {
	height:0px;
	font-size: 1.3em;
	line-height: 2em;
	position: relative;
	text-align: center;
	color: white;
}
.is-stuck{
	position:absolute;
}
.is-stuck .navname {
	height: 30px;
}

nav ul li a {
	width: 25%;
	text-align: center;
	padding: 0;
	color: white;
	margin: 1em 0;
}

nav a:hover {
	color: white;
}

nav .navname a:hover {
	color: white;
}

#background {
	display: block;
}

#background h2 {
	margin: .4em 0em 1.2em;
}

#background p {
	margin: 0 1.3em;
}

.background_icon {
   height: 2.5em;
   top:-1.5em;
}

.background_icon svg {
	height: 3em;
	width: 3em;
}

#skills h1 {
	padding-bottom: 1em;
}

.mobileskill {
	padding: 0 1.3em 4em;
}

.mobileskill:before {
	top: -3em;
}

.content_overlay h2{
	color: white;
	font-weight: 600;
	font-size: 2.5em;
	opacity: 1;
	transform: translate(0px 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
}

.content_overlay h3{
	color: white;
	font-size: 1em;
	transform: translate(0px 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	opacity: 1;
}

.content_overlay {
	background-color: rgba(39, 39, 39, .85);
	height: 100%;
	top: 0%;
}

.work_container2:hover img {
	opacity: 1;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
}
#contact {
	background-color: #2A75A9;
	background-image: none;
}
}
